.home-mile-stone-clone1-container10 {
  width: 100%;
  min-height: 100vh;
}
 
.home-mile-stone-clone1-thq-logo-text-elm1 {
  color: #0a1d37;
  font-size: 24px;
  font-family: ""Inter, sans-serif"";
  font-weight: 700;
}
 
.home-mile-stone-clone1-thq-logo-text-elm2 {
  color: #0a1d37;
  font-size: 24px;
  font-family: ""Inter, sans-serif"";
  font-weight: 700;
}
 
.home-mile-stone-clone1-container25 {
  display: none;
}
 
.home-mile-stone-clone1-container26 {
  display: contents;
}
 
.home-mile-stone-clone1-container27 {
  display: none;
}
 
.home-mile-stone-clone1-container28 {
  display: contents;
}
