.navigation-header1-container1 {
  display: contents;
}
 
.navigation-header1-container2 {
  display: none;
}
 
.navigation-header1-container3 {
  display: contents;
}
 
.navigation-header1-thq-theme-icon-dark-elm {
  display: none;
}
 
.navigation-header1-li5 {
  -i: 1;
}
 
.navigation-header1-li6 {
  -i: 2;
}
 
.navigation-header1-li7 {
  -i: 3;
}
 
.navigation-header1-li8 {
  -i: 4;
}
 
.navigation-header1-thq-navigation-headermobile-footer-elm {
  -i: 5;
}
 
.navigation-header1-container4 {
  display: none;
}
 
.navigation-header1-container5 {
  display: contents;
}
 
.navigation-header1-container6 {
  display: none;
}
 
.navigation-header1-container7 {
  display: contents;
}
